@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background: #f8fafc; /* slate-50 */
  color: #0f172a;      /* slate-900 */
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial,
    "Noto Sans", "Liberation Sans", sans-serif;
}

/* usuwa fiolet/underline z linków */
a {
  color: inherit;
  text-decoration: none;
}
